@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    font-family: Roboto, sans-serif;
    color: #fff;
}

/* 

#1A1A1A - black
#FEBE01 - yellow
#D8D8D8 - lightgray

*/

body {
    background-color: #1A1A1A;
}

main {
    display: grid;
    grid-template:
    ". pageSubtitle . . . . . ."
    ". title title title title title . ."
    ". title title title title title squareYellow ."
    ". imgWilliams imgWilliams . about about . squareGray"
    ". imgWilliams imgWilliams . testimonialImg testimonialImg testimonialImg ."
    ". infoWilliams infoWilliams . . . . ."
    ;
    gap: 12px;

    grid-auto-columns: minmax(0px, 1fr);
    grid-auto-rows: minmax(0px, 1fr);
}

.subtitle {
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 1.5px;
    color: #8c8c8c;
    border-left: 1px solid #8c8c8c;
    padding-left: 6px ;
    
    grid-area: pageSubtitle;
}


.page-title {
    grid-area: title;
    font-weight: 600;
    font-size: 100px;
    line-height: 110px;
    letter-spacing: -1px;
}

.square.join {
    grid-area: squareYellow;
    background-color: #FEBE01;
    height: 100%;
    width: 100%;
}

.square.gray {
    grid-area: squareGray;
    background-color: #D8D8D8;
    height: 100%;
    width: 100%;
}

.about {
    grid-area: about;
}

.img.kwilliams {
    grid-area: imgWilliams;
}

.img.testimonials {
    grid-area: testimonialImg;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.info.kwilliams {
    grid-area: infoWilliams;
}

