@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Joan", serif;
}

:root {
    --clr-purple: #C0C2FF;
    --clr-purple-light: #EFE5FF;
    --clr-black: #191919;
    --clr-white: #FFFFFF;
    --clr-gray-text: #78727F;
    --clr-gray-bg: #f5f6f8;
    --gradient-gray: linear-gradient(
        90deg,
        rgba(102, 102, 102, 1) 0%,
        rgba(102, 102, 102, 0) 100%
    );
}

/* --- COMPONENTS --- */

.btn {
    border: 1px solid var(--clr-white);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
    color: var(--clr-black);
    background-color: var(--clr-white);
}

.btn--dark {
    color: var(--clr-white);
    background-color: var(--clr-black);
    border: 1px solid var(--clr-black);
}
.section {
    padding: 96px 4rem;
}

.section-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* --- HOME --- */

#home {
    padding: 72px 4rem;
    background-image: linear-gradient(
        to right bottom,
        #c0c2ff,
        #cecaff,
        #dbd3fe,
        #e6dcff,
        #efe5ff
    );
}

#home .home-container {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#home .title {
    font-size: 72px;
    width: 80%;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

#home .desc {
     font-size: 21px;
     text-align: center;
     margin-bottom: 1.5rem;
     width: 80%;
     /* max-width: 730px; */
}

#home .btns-container {
    display: flex;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

#home .hero-img {
    width: 100%;
    /* max-width: 960px; */
    margin-bottom: 2rem;
}


#home .comment {
    color: var(--clr-gray-text);
    text-align: center;
    margin-bottom: 1.5rem;
}

#home .partners {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* --- FEATURES --- */

#features .features__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    font-family: Joan, serif;
}

#features .benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

#features .benefit {
    position: relative;
}

#features .benefit::after {
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: var(--clr-purple);
    opacity: 0.5;
}

.benefits .benefit *:not(:last-child) {
    margin-bottom: 0.5rem;
}

#features .benefit .benefit__img {
    width: 30%;
}

/* --- CATALOG --- */

#catalog .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#catalog .info {
    width: 40%;
}

#catalog .info__title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#catalog .info__text {
    color: var(--clr-gray-text);
    margin-bottom: 1.5rem;
}

#catalog .info__link {
    color: var(--clr-black);
}

#catalog .catalog__img {
    width: 40%;
}

/* --- TESTIMONIALS --- */

#tstm .tstm__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

#tstm .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    position: relative;
}

#tstm .cards::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: linear-gradient(
         0deg,
         rgba(255, 255, 255, 1) 10%,
         rgba(255, 255, 255, 0) 55%
     );
}

#tstm .card {
    background-color: var(--clr-gray-bg);
    padding: 1rem;
    border-radius: 0.5rem;
}

#tstm .card  .card__msg{
    font-style: italic;
}

#tstm .card .card__msg-divider {
    height: 2px;
    margin: 1rem 0;
    width: 50%;
    background: var(--gradient-gray)
}

#tstm .card .card__about {
    display: grid;
    grid-template-areas: 
    "img name name name"
    "img position position position";
    gap: 0.5rem;
    align-items: center
}

#tstm .card .card__about .about__img {
    grid-area: img;
}

#tstm .card .card__about .about__name {
    grid-area: name;
}

#tstm .card .card__about .about__position {
    grid-area: position;
}

#tstm .btn {
    display: block;
    margin: 10px auto;
}